input.naranja {
    background-color: #ff6200;
    border: 2px solid #ff6200;       color: white;     background-color: #ff6200;     width: 400px;
    
}

input.verde {
    background-color: #0a8020;
    border: 2px solid #0a8020;       color: white;     background-color: #0a8020;     width: 400px;
    
}